<body>
    <h2>Cadastro de pessoa</h2>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="nome">
            <label id="nome">Nome:</label><br>
            <input formControlName="nome">
        </div>
        <div class="cpf">
            <label id="cpf">CPF:</label><br>
            <input formControlName="cpf">
        </div>
        <div class="email">
            <label id="email">Email:</label><br />
            <input formControlName="email">
        </div>
        <div class="telefone">
            <label id="telefone">Telefone:</label><br />
            <input formControlName="telefone">
        </div>
        <div class="divBtn">
            <button id="btnCadastro" type="submit" [disabled]="formulario.invalid">Cadastrar</button>
        </div>
    </form>
</body>